@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --first-color: #474ebb;
  --second-color: #c65764;
  --third-color: #e07c08;
  --first-color-hover: #3d46be;
  --primary-text-color: #181b30;
  --secondary-text-color: #666;
  --first-color-lighten: hsl(220, 68%, 97%);
  --title-color: hsl(220, 48%, 28%);

  --body-color: hsl(220, 100%, 99%);
  --btn-text-color: #fff;

  --clr-light: #fff;
  --clr-dark: #181b30;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --font-family: "Poppins", sans-serif;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 1024px) {
  :root {
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5rem;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Utiliy CSS */
body {
  font-family: var(--font-family);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--primary-text-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  padding: 8px 20px;
  display: flex;
  align-items: center;
  text-align: center;
  outline: none;
  letter-spacing: 0.8px;
  text-decoration: none;
  border-radius: 8px;
  background-color: var(--first-color);
  border: none;
  color: var(--btn-text-color);
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: var(--first-color-hover);
}

/*=============== HEADER ===============*/

.header {
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 5%;
  box-shadow: 0 2px 8px hsla(220, 68%, 12%, 0.1);
  background-color: var(--body-color);
  z-index: var(--z-fixed);
}

.header .navbar ul {
  display: flex;
  align-items: center;
}

.navbar ul li {
  font-size: var(--small-font-size);
}

.header .navbar a {
  margin: 0 1rem;
  font-weight: 500;
  color: var(--primary-text-color);
  transition: border-bottom 0.2s;
}

.header .navbar a:hover {
  color: var(--first-color);
  border-bottom: 0.3rem solid var(--first-color);
  padding-bottom: 0.5rem;
}

.nav_toggle {
  display: none;
}

.header .nav_toggle {
  color: var(--primary-text-color);
  cursor: pointer;
  font-size: 2.5rem;
}

.header .nav_toggle i:hover {
  color: var(--secondary-text-color);
}

/*=============== NAV ===============*/

/* 320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV */

@media screen and (max-width: 768px) {
  html {
    font-size: 50%;
  }

  .header {
    padding: 1.5rem 2rem;
  }
}

@media screen and (max-width: 768px) {
  .login-btn {
    display: none;
  }

  .nav_toggle {
    display: inline-block;
    position: relative;
  }

  .nav_toggle__menu,
  .nav_toggle__close {
    position: absolute;
    top: -10px;
    right: 0;
    transition: opacity 0.1s, transform 0.4s;
  }
  .nav_toggle__close {
    opacity: 0;
  }

  .header .navbar {
    position: absolute;
    top: 100%;
    right: 0;
    background: #fff;
    width: 100%;
    height: calc(100vh - 3rem);
  }

  .header .navbar ul {
    display: block;
  }

  .header .navbar a {
    color: var(--primary-text-color);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }
}
